# IDE files
.idea
*.iml

# Build files
target/
build
**/build/
out/
bin/

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Maven wrapper jar file
/.mvn/wrapper/maven-wrapper.jar

# Gradle specific files
.gradle

# Eclipse specific files
.classpath
.project
.settings/

# Test output
test-output/

# OS metadata files
.DS_Store

# Temporary files
*.bak
tags

# Notes
notes.md

# Ignored file with pattern
README.md.*

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
